<body>
  <section>
    <div class="body">
      <div class="container1">
        <div class="row">
          <div class="left-side">
            <div class="info">
              <h1>Welcome to Event Ease</h1><br><br>
              <a href="#"><i class="fa fa-quote-left"></i></a>
              <p>Plan, organize, and host your events with ease!</p>
              <a href="#"><i class="fa fa-quote-right"></i></a>
            </div>
 
          </div>
          <div class="right-side">
            <div class="about-img">
              <img src="assets/bg.jpg">
            </div>
          </div>
        </div>
      </div>
    </div>
    </section>
    <section>
      <div class="heading">
        <h3>Your ideal backdrop for any event</h3>
      </div>
      <div class="paragraph">
        <p>Each event at Event Ease unmatched facilities creates unforgettable and unparalleled experiences. Clients may choose from either of two world-class facilities. Event Ease Fort Bonifacio campus is situated on two lavishly landscaped hectares in McKinley Hill, and features Asian colonial-inspired architecture with contemporary interiors.Event Ease’s facilities feature hotel-quality appointments and integrated technologies that are in a class of their own The Enderun Tent at Azuela Cove in Mumbai City is located in Maharastra, a mixed use community developed by Ayala Land, Inc. and the Alcantara Group. The beautiful 25-hectare waterside community serves as breathtaking backdrop for any type of event. Event Ease  is also scheduled to open a new campus within the community in the near future, ensuring guests of premier, Enderun-quality events.</p>
      </div>
    </section>
    <section>
    <div class="container2">
      <div class="box">
        <div class="box-img">
          <img src="assets/tent.jpg">
        </div>
        <div class="box-text">
          <h2>THE ENDERUN TENT</h2>
          <p>
            The 700 sqm. Enderun Tent offers a stunning bare space venue that allows for near unlimited styling and
            creativity. It can easily accommodate up to 800 guests, making it the ideal venue for larger events like
            corporate events, bazaars, etc.</p>
        </div>
      </div>
      <div class="box">
        <div class="box-img">
          <img src="assets/venue.jpg">
        </div>
        <div class="box-text1">
          <h2>THE ATRIUM</h2>
          <p> Gorgeous brick walls and large windows make The Atrium one of the most unique events venues in Manila.The
            264 sqm. space is perfect for more intimate functions like weddings, debuts, etc. Accommodates maximum of
            200 guests.</p>
        </div>
      </div>
      <div class="box">
        <div class="box-img">
          <img src="assets/catering.jpg">
        </div>
        <div class="box-text2">
          <h2>OUTSIDE CATERING</h2>
          <p>
            Have other venues in mind?
            Learn more about our Outside Catering Services
            <br>Contact for more details
          </p>
        </div>
      </div>
 
 
    </div>
  </section>
 
</body>