
.hero {
  position: relative;
  height: 100vh;
  width: 100%;
  background-image: url('/assets/bg.jpg'); /* Update with your image path */
  background-size:cover;
  background-position: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); /* Adjust opacity as needed */
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
}

.content h1 {
  font-size: 3rem;
}

.content p {
  font-size: 1.5rem;
  margin-bottom: 30px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

.btn:hover {
  background-color: #0056b3;
}
/*------------------*/
.body
{
width: 95%;
height: 400px;
background: black;
display: flex ;
margin: 80px auto;
}
.right-side
{
display: flex;
float: left;
width: 50%;
padding: 5px;
height: 300px;
}
.right-side .about-img
{
position: absolute;
top: 175px;
left: 600px;
}
.about-img:hover
{
transform: scale(1.1);
background: #3d3f3f;
box-shadow: 2px 2px 2px #000;
z-index: 2;
}
.about-img::before
{
position: absolute;
content: '';
right: -30px;
top: 15px;
border: 10px solid rgba(31, 30, 30, 0.5);
width: 100%;
height: 100%;
}
.about-img img
{
height: 300px;
width: 100%;
}
.left-side
{
display: flex;
margin-top: 30px;
float: left;
width: 100%;
padding: 60px;
height: 400px;
}
.info h1
{
font-size: 40px;
margin-left: 35%;
color:whitesmoke;
font-style: italic;
}
.info h2
{
font-size: 25px;
margin-left: 40px;
margin-bottom: 25px;
margin-top: 25px;
color:whitesmoke;
}
.info h2 span
{
color: whitesmoke;
font-size: 35px;
}
.info p
{
line-height: 22px;
font-size: 20px;
margin-left: 40px;
margin-bottom: 25px;
color:whitesmoke;
}
.info a
{
text-decoration: none;
color: black;
margin-top: 10px;
}
.info a i
{
font-size: 1.5rem;
}
.container2
{
width: 95%;
height: auto;
padding: 10px;
margin: 80px auto;
display: flex ;
justify-content: center;
}
.box
{
width: 380px;
height: 700px;
/* background-image:; */
margin: 0px 10px;
transition: 1s;
}
.box:hover
{
transform: scale(1.1);
background:  rgb(201, 85, 105);
box-shadow: 2px 2px 2px #000;
z-index: 2;
}
.box-img img
{height: 210px;
width: 210px;
background-size: cover;
background-position: center;
border-radius: 50px;
transform: translate(-50%,-50%);
position: relative;
margin-top: 30%;
margin-left: 50%;
}
.box-text
{
padding: 10px;
margin: 5px;

}
.box-text1
{
padding: 10px;
margin: 5px;
}
.box-text h2
{
font-size: 20px;
margin-left: 25%;
margin-bottom: 30px;
color:black;
}
.box-text p
{
line-height: 22px;
font-size: 16px;
margin-left: 20px;
margin-bottom: 12px;
color:black;
}
.box-text a
{
background: rgb(219, 170, 178);
color: #000;
padding: 7px 15px;
display: inline-block;
text-decoration: none;
text-transform: capitalize;
position: relative;
margin-top: 10% ;
margin-left: 35% ;
}
.box-text a:hover
{
background-color:rgb(238, 117, 137);
color: whitesmoke;
font :bold;}
.heading{
text-align: center;

}
.paragraph{
font-family: 'Times New Roman', Times, serif;
text-justify: auto;
text-align:justify;
margin: 20px;
padding: 20px;
box-shadow: 3px 3px 3px 3px;
}
.container2{
border: 1px solid;
}

